<form action="/cart" method="post">
    <button class="btn" type="submit">Add to Cart</button>
    <br>
    <label for="size">Choose size:</label>
        <select name="size" id="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        </select>
    <input type="hidden" name="productId" value="<%= product.id %>">
    <!-- <input type ="hidden" name = "size" value = "<" -->
</form>